# ─── PostgreSQL DB ────────────────────────────────────────────
DATABASE_URL=postgresql://boilarplate:NeKvqDYED77W6FBZlRd188obmgl4ZTra0A5c71gtQwI@localhost:6432/mydb
DIRECT_DATABASE_URL=postgresql://boilarplate:NeKvqDYED77W6FBZlRd188obmgl4ZTra0A5c71gtQwI@localhost:5432/mydb

# ─── Redis ─────────────────────────────────────────────────
REDIS_URL=redis://:ByYZTPdVklanV0v_RzrWYFZ5wYkHAyvT0uh403Mlvgw@localhost:6379

# ─── Better Auth ───────────────────────────────────────────
BETTER_AUTH_SECRET=eKvqDYED77W6FBZlRd188obmgl4ZTra0A5c71gt
BETTER_AUTH_URL=http://api.localhost:1355
